<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago Crime Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    <!--<style id="plotly.js-style-global"></style>
    <style id="plotly.js-style-modebar-b48ac6"></style>
    <style id="plotly.js-style-modebar-9720fe"></style>
    <style id="plotly.js-style-modebar-747187"></style>-->
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Chicago Crime Data</a>
                </div>
            </div>
        </nav>
        
        <div class="hero text-center">
            <h1 style="color:black">Chicago Crime</h1>
            <p style="color:black">Reported Crime Incidents in the City of Chicago</p>
        </div>

        <div class="container">
            <div class="col-md-2">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter search</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="month">Enter Month in 2020</label>
                                            <input class="form-control" id="month" type="text" placeholder="April">
                                        </li>
                                        <li class="filter list-group-item">
                                            <label for="month">Select Neighborhood</label>
                                            <input class="form-control" id="location" type="text" placeholder="Lincoln Park">
                                        </li>
                                        <li class="filter list-group-item">
                                            <label for="month">Enter Crime Type</label>
                                            <input class="form-control" id="location" type="text" placeholder="Theft">
                                        </li>
                                    </ul>
                                </div>
                                <button id="filter-btn" type="button" class="btn btn-default">Filter</button>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-10">
                <h3 style="color: gray" ><strong>What am I looking at?</strong></h3>
                <p>This site is an interactive dashboard to allow anybody interested in Chicago 
                    Crime to be able to click around and easily get information. The data diaplyed reflects 
                    reported incidents of crime that occured in the City of Chicago in 2020.
                    <br>
                    <br>
                    Raw data for this website was supplied by 
                    <a href="https://dev.socrata.com/foundry/data.cityofchicago.org/ijzp-q8t2"
                    target="_blank">https://data.cityofchicago.org.</a><br>
                </p>

                <h3 style="color:lightcoral" ><strong>Why is this useful?</strong></h3>
                <p>
                    As residents of Chicago, we found it fitting to create an interactive dashboard to 
                    visualize Crime Data in our city. We wanted to provide a place for anybody 
                    to be able to click around and easily get information if concerned about crime 
                    rates in Chicago. <br>
                    <br>
                    If you are a new resident or are looking to potentially move to Chicago, 
                    we highly reccomend utilizing this dashboard to get a better understanding of crime
                    rates around various neighborhoods in Chicago. 
                </p>
                <h3 style="color: lightblue"><strong>How do I use this dashboard?</strong></h3>
                <p>
                    Navigate to the Filter Search on the left. Here you will notice various search bars.
                    These are filters you can use to create unique visualizations of Chicago Crime data. The filters you place will dictate 
                    how the graphs, charts, and map below look. 
                    <br>
                    <br>
                    Try it on your own! Use the filters o drill down into the data. Here are some helpful questions to get you started: 
                    <br>
                    <br>
                        1. Which month are you most interested in seeing data for?
                        <br>
                    <br>
                        2. What neighborhood do you live in?
                        <br>
                    <br>
                        3. When was the last fire in downtown Chicago?
                        <br>
                    <br>
                        4. Which neighborhood is the safest? Which has the least ammount of crimes?
                    <br>
                    <br>
                    Click around and watch the data come to life in the charts and visualizations!
                </p>
            </div>
        </div>
        

    </div>
    <script>
        var geojson = {{geojson|safe}}
        console.log(geojson)
       </script>
       <script type="text/javascript" src="../static/js/maplogicDB.js"></script>
    
    <script src="https://d3js.org/d3.v5.min.js"></script>   
    <!-- <script src="static/js/app.js"></script> -->
    <script src="../static/js/summary_table.js"></script>

</body>
</html>