<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago Crime Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Chicago Crime Data</a>
                </div>
            </div>
        </nav>
        
        <div class="hero text-center">
            <h1>Chicago Crime 2020</h1>
            <p>Reported Crime Incidents in the City of Chicago</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-10">
                    <h3 style="font-weight: 600;">Learn about the data</h3>
                    <p class="mb-0 font-weight-normal d-none d-sm-block">
                  As residents of Chicago, we found it fitting to create an interactive dashboard to 
                  visualize Crime Data in our city. We wanted to provide a place for anybody 
                  to be able to click around and easily get information if concerned about crime 
                  rates in Chicago.
                  </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <aside class="filters">
                        <div class="panel panel-default">
                            <div class="panel-heading">Select Option</div>
                            <div class="panel-body">
                                <form id="form1" action="/selectorpage" method="POST" enctype="multipart/form-data">
                                    <select id="mySelect" name="selector_listener">
                                        <option value="ROBBERY">ROBBERY</option>
                                        <option value="THEFT">THEFT</option>
                                        <option value="HOMICIDE">HOMICIDE</option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                                <div id="map"></div>
                        </div>    
                    </aside>
                </div>

                <!--
Copy to main index to html 
  ########################################################-->
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- API key -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- Our JavaScript -->

<script type="text/javascript" src="app.py"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var geojson = {{geojson|safe}}
  // console.log(geojson)
 </script>
 <script type="text/javascript" src="../static/js/maplogicDB.js"></script>
 <script src="../static/js/summary_table.js"></script>
 
<script src="https://d3js.org/d3.v5.min.js"></script>


                <div class="container-fluid page-body-wrapper">    
                    <div class="col-9 grid-margin">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Map</h4>
                            <div id="map"></div>
                            <!--<h4 class="(INSERT MAP code)">Graph 1</h4>-->
                            <canvas id="MatPlotLib" width="300" height="200" style="border:1px solid #000000;"></canvas>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

                


                
            <div class="row">
                <div class="col-md-2">
                    <aside class="filters" style="margin-top: 100px">
                        <div class="panel panel-default">
                            <div class="panel-heading">Filter search</div>
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <ul class="list-group" id="filters">
                                            <li class="filter list-group-item">
                                                <label for="month">Enter Crime Type</label>
                                                <select id="selDataset1" onchange="optionChanged1(this.value)"></select>
                                            </li>
                                            <li class="filter list-group-item">
                                                <label for="month">Select Month</label>
                                                <select id="selDataset2" onchange="optionChanged2(this.value)"></select> 
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div id="plot1"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9">
                    <div id="plot2"></div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div id="table-area" class="">
                        <table id="ufo-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="table-head">Year</th>
                                    <th class="table-head">Month</th>
                                    <th class="table-head">Crime Type</th>
                                    <th class="table-head">Crime Description</th>
                                    <th class="table-head">Reported Crime Count</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>



            
        

        </div>

            








            

        <!--<div class="row">-->
            <!--<div class="col-12 grid-margin stretch-card">
              <div class="card corona-gradient-card">-->

                    <div class="col-5 col-sm-7 col-xl-12 p-4">
                      <h3 style="font-weight: 600;">Learn about the data</h3>
                      <p class="mb-0 font-weight-normal d-none d-sm-block">
                    As residents of Chicago, we found it fitting to create an interactive dashboard to 
                    visualize Crime Data in our city. We wanted to provide a place for anybody 
                    to be able to click around and easily get information if concerned about crime 
                    rates in Chicago.
                    </p>

                    <!--</div>

              </div>
            </div>-->
            <!--insert map-->
            <div class="container-fluid page-body-wrapper">    
                <div class="col-4 grid-margin">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Map</h4>
                        <!--<h4 class="(INSERT MAP code)">Graph 1</h4>-->
                        <canvas id="MatPlotLib" width="300" height="200" style="border:1px solid #000000;"></canvas>
                    </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid page-body-wrapper">    
                <div class="col-4 grid-margin">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph 1</h4>
                        <div id="plot1"></div>
                        <!--<h4 class="(INSERT GRAPH NAME)">Graph 1</h4>-->
                        <canvas id="graph1Canvas" width="300" height="200" style="border:1px solid #000000;"></canvas>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid page-body-wrapper">    
                <div class="col-4 grid-margin">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph 2</h4>
                        <!--<h4 class="(INSERT GRAPH NAME)">Graph 2</h4>-->
                        <canvas id="graph2Canvas" width="300" height="200" style="border:1px solid #000000;"></canvas>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid page-body-wrapper">    
                <div class="col-4 grid-margin">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph 3</h4>
                        <!--<h4 class="(INSERT GRAPH NAME)">Graph 3</h4>-->
                        <canvas id="graph3Canvas" width="300" height="200" style="border:1px solid #000000;"></canvas>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        
        <!-- insert Graph 1 -->
        <!--<div class="row">
            <div class="container-fluid page-body-wrapper">    
                <div class="col-4 grid-margin">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph 1</h4>
                        <canvas id="graph1Canvas" width="200" height="100" style="border:1px solid #000000;"></canvas>
                    </div>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

    <script src="../static/js/plots.js"></script>
</body>
</html>